.container {
  width: 100%;
  height: 100dvh;
}

.column {
  display: grid;
  gap: 30px;
  @include min-width($breakpoint) {
    grid-auto-columns: 1fr;
    grid-auto-flow: column;
  }

  &:not(:last-child) {
    padding-block-end: 24px;
  }
}

.row {
  display: grid;
  gap: 22px;
  grid-template-columns: 1fr;
  @include min-width($breakpoint) {
    grid-template-columns: 1fr 370px
  }
}