.dropdown {
  position: relative;
  width: 100%;
  display: block;

  &__label {
    color: currentColor;
  }

  &__icon {
    width: 20px;
    height: 20px;
    flex: 0 0 20px;
    fill: currentColor;
    transition: transform .2s ease-in-out;
  }

  &__toggle {
    width: 100%;
    padding: 8px 10px;
    min-width: 180px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--dark-navy-gray);
    background-color: var(--primary-dropdown-bg);
    border: 1px solid var(--white);
    border-radius: 3px;
    cursor: pointer;
    font-size: 14px;
    text-align: left;
    transition: color 200ms ease-in-out, background-color 200ms ease-in-out, box-shadow 200ms ease-in-out;

    &:hover {
      color: var(--white);
      background-color: rgba(var(--dark-slate-blue-rgb), 0.85);
      border-color: rgba(var(--dark-slate-blue-rgb), 0.85);
    }
  }

  &__menu {
    position: absolute;
    top: 97%;
    left: 0;
    width: 100%;
    max-height: 180px;
    margin: 0;
    padding: 5px;
    list-style: none;
    color: var(--white);
    overflow-y: auto;
    background-color: var(--dark-navy-gray);
    border: 1px solid rgba(var(--dark-slate-blue-rgb), 0.85);
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    box-shadow: 0 8px 20px rgba(var(--black-rgb), 0.08);

    opacity: 0;
    visibility: hidden;
    transform: translateY(-5px);
    transition: opacity 200ms, transform 200ms, visibility 200ms;
    z-index: 10;

    &::-webkit-scrollbar {
      width: 7px;
    }

    &::-webkit-scrollbar-track {
      background-color: var(--dark-slate-blue);
    }

    &::-webkit-scrollbar-thumb {
      background-color: var(--blue);
      border-radius: 8px;
    }
  }

  &__item {
    border-radius: 3px;
    padding: 10px 16px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 200ms;

    &:not(:last-child) {
      margin-block-end: 5px;
    }

    &:hover {
      background-color: rgba(var(--dark-slate-blue-rgb), 0.85);
    }
  }

  &--open {
    .dropdown__icon {
      transform: scaleY(-1);
    }

    .dropdown__toggle {
      color: var(--white);
      background-color: rgba(var(--dark-slate-blue-rgb), 0.85);
      border-color: rgba(var(--dark-slate-blue-rgb), 0.85);
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }

    .dropdown__menu {
      opacity: 1;
      visibility: visible;
      transform: translateY(0);
    }
  }
}